<!DOCTYPE html>
<html lang="en">

<head>
  <title>SDQ Store 'n Store</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <div id="wrapper">
    <div class="center">
    <img src="/images/header.jpg" alt="sdqLogo">
    </div>
    <div id="homeNav">
    <nav>
      <label>Welcome, <%= user %>!</label><br>
      <a href="/logout">Logout</a>
      <a href="sdqPage">Complete SDQ</a>
      <a href="student-records">Individual Student Records</a>
      <a href="db-info">All SDQ Records</a>
    </nav>
    </div>
  </div>
  <script>

    function validateUser() {
      console.log(username.value + " " + password.value);
    }

  </script>
</body>

</html>