<!DOCTYPE html>
<html lang="en">

<head>
  <title>SDQ Store 'n Store</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body class="center">
  <img src="/images/sdqLogo.png" alt="sdqLogo">
  <div class="center">

    <h2>Welcome, <%= user %>!</h2>
    <div>
      <a href="/logout">Logout</a>
    </div>

    <br>

    <a href="sdqPage">Complete SDQ</a>

    <br>

    <a href="student-records">Individual Student Records</a>

    <br>

    <a href="db-info">All SDQ Records</a>

  </div>


  <script>

    function validateUser() {
      console.log(username.value + " " + password.value);
    }

  </script>

</body>

</html>