<!DOCTYPE html>
<html lang="en">

<head>
  <title>SDQ Store 'n Store</title>
  <meta charset="UTF-8">
</head>

<body>

  <h1>SDQ Store 'n Store</h1>
  <h2>Welcome, <%= user %>!</h2>
  <div>
    <a href="/logout">Logout</a>
  </div>

  <br>
    
  <a href="sdqPage">Complete SDQ</a> 
    
  <br><br>
    
  <a href="student-records">Individual Student Records</a>
    
  <br><br>
      
  <a href="db-info">All SDQ Records</a>

  <script>

    function validateUser() {
      console.log(username.value + " " + password.value);
    }

  </script>

</body>

</html>