<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Home</title>
  </head>
  <body class="center"> 
    <div id="wrapper">
      <div class="center">
        <img src="/images/header.jpg" alt="sdqLogo">
      </div>
      <div id="homeNav">
      <nav>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </nav>
      </div>
    <% if (typeof message !== 'undefined' ) { %>
    <p><%= message %></p>
    <% } %>
    </div>
  </body>
</html>