<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Register</title>
</head>

<body>
  <div id="wrapper">
    <div class="center">
      <img src="/images/header.jpg" alt="sdqLogo">
      <div class="center">
        <h1>Register</h1>
        <div id="login">
          <form action="/register" method="POST" name="registration">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Name" />
            <br><br>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" />
            <div>
              <% if (typeof errors !='undefined' ) { %>
                <% errors.forEach(error=> { %>
                  <p id="emailError">
                    <%= error.message %>
                  </p>
                  <% }) %>
                    <% } %>
            </div>
            <p>
              Password must be at least 7 characters long.
            </p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"
              placeholder="Password" />
            <br><br>

            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password"
              placeholder="Confirm Password" />

            <br>
            <br>
            <input type="submit" value="Register" />

            <br><br>
            <div id="loginReg">
              <a href="/login">Login</a>
            </div>
            <br><br>
          </form>

        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js"></script>

    <script>

      $(function () {

        $("form[name='registration']").validate({

          rules: {

            name: {
              required: true,
              minlength: 2,
              maxlength: 100
            },
            email: {
              required: true,
              email: true
            },
            password: {
              required: true,
              minlength: 7
            },
            confirm_password: {
              required: true,
              minlength: 7,
              equalTo: "#password"
            }
          },
          // Specify validation error messages
          messages: {
            name: {
              required: "Please enter your name.",
              minlength: "Single letter names not allowed",
              maxlength: "Name must be less than 100 characters"
            },
            password: {
              required: "Please provide a password",
              minlength: "Your password must be at least 7 characters long"
            },
            confirm_password: {
              required: "Please confirm password",
              minlength: "Your password must be at least 7 characters long",
              equalTo: "Passwords do not match"
            },
            email: "Please enter a valid email address"
          },

          submitHandler: function (form) {
            form.submit();
          }
        });
      });

    </script>
</body>

</html>